mixin awsme(simbolo)
    if simbolo=="calendar"
        .fa.fa-solid.fa-calendar-check
    else if simbolo=="hourglass_start"
        .fa.fa-solid.fa-hourglass-start
    else if simbolo=="hourglass_end"
        .fa.fa-solid.fa-hourglass-end
    else if simbolo=="hourglass_half"
        .fa.fa-solid.fa-hourglass-half
    else if simbolo=="tachometer"
        .fa.fa-solid.fa-tachometer-alt
    else if simbolo=="calendar_day_sol"
        .fa.fa-calendar-day
    else if simbolo=="calendar_day_reg"
        .fa.fa-calendar-day
    else if simbolo=="car"
        .fa.fa-solid.fa-car
    else if simbolo=="user"
        .fa.fa-solid.fa-user
    else if simbolo=="clipboard"
        .fa.fa-solid.fa-clipboard
    else if simbolo=="battery"
        .fa.fa-regular.fa-car-battery
    else if simbolo=="tools"
        .fa.fa-regular.fa-tools
    else if simbolo=="signature"
        .fa.fa-regular.fa-signature
    else if simbolo=="excel"
        .fa.fa-regular.fa-file-excel
    else if simbolo=="at"
        .fa.fa-regular.fa-at
    else if simbolo=="phone"
        .fa.fa-regular.fa-phone
    else if simbolo=="road"
        .fa.fa-solid.fa-road   