mixin awsme(simbolo)
    if simbolo=="calendar"
        .fa.fa-solid.fa-calendar-check
    else if simbolo=="hourglass_start"
        .fa.fa-solid.fa-hourglass-start
    else if simbolo=="hourglass_end"
        .fa.fa-solid.fa-hourglass-end
    else if simbolo=="hourglass_half"
        .fa.fa-solid.fa-hourglass-half
    else if simbolo=="tachometer"
        .fa.fa-solid.fa-tachometer-alt
    else if simbolo=="calendar_day_sol"
        .fa.fa-solid.fa-calendar-day
    else if simbolo=="calendar_day_reg"
        .fa.fa-regular.fa-calendar-day