mixin awsme(simbolo)
    if simbolo=="calendar"
        .fa.fa-solid.fa-calendar-check
    else if simbolo=="hourglass_start"
        .fa.fa-solid.fa-hourglass-start
    else if simbolo=="hourglass_end"
        .fa.fa-solid.fa-hourglass-end
    else if simbolo=="hourglass-full"
        .fa.fa-solid.fa-hourglass
    else if simbolo=="hourglass_half"
        .fa.fa-solid.fa-hourglass-half
    else if simbolo=="tachometer"
        .fa.fa-solid.fa-tachometer-alt
    else if simbolo=="calendar_day_sol"
        .fa.fa-calendar-day
    else if simbolo=="calendar_day_reg"
        .fa.fa-calendar-day
    else if simbolo=="car"
        .fa.fa-solid.fa-car
    else if simbolo=="user"
        .fa.fa-solid.fa-user
    else if simbolo=="clipboard"
        .fa.fa-solid.fa-clipboard
    else if simbolo=="battery"
        .fa.fa-regular.fa-car-battery
    else if simbolo=="tools"
        .fa.fa-regular.fa-tools
    else if simbolo=="signature"
        .fa.fa-regular.fa-signature
    else if simbolo=="excel"
        .fa.fa-regular.fa-file-excel
    else if simbolo=="at"
        .fa.fa-regular.fa-at
    else if simbolo=="phone"
        .fa.fa-regular.fa-phone
    else if simbolo=="road"
        .fa.fa-solid.fa-road
    else if simbolo=="people-arrows"
        .fa.fa-solid.fa-people-arrows
    else if simbolo=="clock"
        .fa.fa-solid.fa-clock
    else if simbolo=="gas-pump"
        .fa.fa-solid.fa-gas-pump
    else if simbolo=="charging-station"
        .fa.fa-solid.fa-charging-station
    else if simbolo=="type"
        .fa.fa-solid.fa-font
    else if simbolo=="coins"
        .fa.fa-solid.fa-coins
    else if simbolo=="bolt"
        .fa.fa-solid.fa-bolt
    else if simbolo=="battery-empty"
        .fa.fa-solid.fa-battery-empty
    else if simbolo=="battery-full"
        .fa.fa-solid.fa-battery-full
    else if simbolo=="battery-half"
        .fa.fa-solid.fa-battery-half