body {
  font-size: .875rem;
  
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: rgb(0, 0, 0);
}

#frmNavbar .nav-link {
  font-weight: 500;
  color: text-dark;
}

#frmNavbar .nav-link .fa  {
  margin-right: 4px;
  color: rgb(0, 0, 0);
}

#frmNavbar .nav-link:hover .fa{
  -webkit-transform: scale(1.5) ;
  color: #ffa600;
}

#frmNavbar .nav-link:hover{
  color: #ffffff;
}

#frmNavbar .text-success .nav-link:hover .fa{
  color: #1b9e30;
}

#frmNavbar .text-danger .nav-link:hover .fa{
  color: #ff0000;
}

.sidebar .nav-link .fa  {
  margin-right: 4px;
  color: teal;
}

.sidebar .nav-link.active {
  color: #ffa600;
}


.sidebar .nav-link:hover .fa{
  -webkit-transform: scale(1.5) ;
  color: #ffa600;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}


.navbar .navlink{
  font-weight: 500;
  color: rgb(0, 0, 0);
}

.navbar .nav-link .fa  {
  margin-right: 4px;
  color: teal;
}

.navbar .nav-link.active {
  color: #ffa600;
}

.navbar .nav-link:hover .fa,
.navbar .nav-link:hover .fa{
  color: #ffa600;
}
.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}




/* para tabela com altura fixa */
.table-wrap{
  height: 360px;
  overflow-y: auto;
}

/* para checkbox personalizada 
personalização da label (o container) */
.container_chk {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: medium;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* ocultar a checkbox por omissão (do browser) */
.container_chk input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* criar checkbox personalizada */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, fundo cinzento */
.container_chk:hover input ~ .checkmark {
  background-color: #ccc;
}

/* adicionar fundo azul quando a checkbox é marcada */
.container_chk input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* criar a marca/indicador (oculto quando não está marcada) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* mostrar a marca quando marcada */
.container_chk input:checked ~ .checkmark:after {
  display: block;
}

/* estilo da marca/indicador */
.container_chk .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

label.container_check input[type='checkbox']:disabled .checkmark{
  cursor: not-allowed;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

#lbl_fn_disabled{
  cursor: not-allowed!important;
}