.container-fluid
	.row
		.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
			.row 
				.col-xs-12.col-md-6
					h2.page-header=title+" - "+sub_title
				.col-xs-12.col-md-6
					.pull-right
						a.btn.btn-success(href="/Filling/C", role="button") Novo »  
			.row
				.col-xs-12.col-sm-4.col-lg-4.placeholder
					+ddown_filtros("drop_down_viaturas","filtro por viatura","Filtrar por viatura","viaturas", viaturas)
				.col-xs-12.col-sm-4.col-lg-4.placeholder
					+ddown_filtros("drop_down_condutor","filtro por condutor","Filtrar por condutor","condutores", condutores)
				.col-xs-12.col-sm-4.col-lg-4.placeholder
					+ddown_filtros("drop_down_tipo","filtro por tipo","Filtrar por tipo","tipos", tipos)
			.row
				.col-xs-12.col-sm-6.col-lg-4.placeholder
					+input_datetime("data_inicio", "Início: ", Date.now(), "start")
				.col-xs-12.col-sm-6.col-lg-4.placeholder
					+input_datetime("data_fim", "Fim: ", Date.now(), "end")
			.row
				.col-lg-6
					h3 Abastecimentos Combustíveis
					+lista_abastecimentos_mt(titulos_mt, abastecimentos.mt)
				.col-lg-6
					h3 Abastecimentos elétricos
					+lista_abastecimentos_ev(titulos_ev, abastecimentos.ev)
