.container-fluid
	.row
		.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
			.row 
				.col-xs-12.col-md-6
					h2.page-header=title+" - "+sub_title
				.col-xs-12.col-md-6
					.pull-right
						a.btn.btn-warning(href="/Abastecimento/C", role="button") Novo »  
			.row
				.col-xs-12.col-sm-4.col-lg-4.placeholder
					+awsme_dropdown("ddviaturas","dd_viaturas","filtro por viatura", viaturas, true, "car")
				.col-xs-12.col-sm-4.col-lg-4.placeholder
					+awsme_dropdown("ddcondutores","dd_condutores","filtro por condutor", condutores, true, "user")
				.col-xs-12.col-sm-4.col-lg-4.placeholder
					+awsme_dropdown("ddtipos","dd_tipos","filtro por tipo", tipos, true, "type")
			.row
				.col-xs-12.col-sm-6.col-lg-4.placeholder
					+input_datetime("data_inicio", "início ", Date.now(), "start")
				.col-xs-12.col-sm-6.col-lg-4.placeholder
					+input_datetime("data_fim", "fim ", Date.now(), "end")
			.row
				.col-lg-6
					h3 Abastecimentos &nbsp;
						.i.fa.fa-solid.fa-gas-pump
					+lista_abastecimentos_mt(titulos_mt, abastecimentos.mt)
				.col-lg-6
					h3 Abastecimentos &nbsp;
						.i.fa.fa-solid.fa-charging-station
					+lista_abastecimentos_ev(titulos_ev, abastecimentos.ev)
