.container-fluid
	.row
		.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
			h2.page-header=title+" - "+sub_title
				.pull-right
					a.btn.btn-success.btn-block(onclick = "history.back()", role='button') « Voltar
			.row
				.col-xs-12.col-sm-d-none.col-md-3.col-lg-2
					.row 
						.col.placeholder
							+snipet_viatura(turno)
					.row
						.col.placeholder
							+snipet_condutor(turno)
				.col-xs-12.col-sm-8.col-md-10.col-lg-10
					if viatura.ev
						+ficha_abastecimento_ev_c(turno)
					else 
						+ficha_abastecimento_mt_c(turno)
						a.btn.btn-danger.btn-block(href='/Abastecimento/C/', role='button') Registar novo abastecimento »
						br
						a.btn.btn-success.btn-block(onclick = "history.back()", role='button') « Voltar
						br
					.row
						.col-xs-12.col-sm-12.col-md-12.col-lg-12
							+ficha_turno(turno)
			.row
				.col-xs-12.col-sm-12.col-md-12.col-lg-12
					if viatura.ev
						+lista_abastecimentos_ev_turno(turno)
					else 
						+lista_abastecimentos_mt_turno(turno)

