-const arr_cabecalho = ['Tempo','Carro','Condutor','Tipo']
-const arr_carros = ['Carro 1','Carro 2','Carro 3','Carro 4']
-const arr_condutores = ['Condutor 1','Condutor 2','Condutor 3','Condutor 4']
-const arr_frontespicio = [['D1','D2','D3','D4'],['D1','D2','D3','D4'],['D1','D2','D3','D4'],['D1','D2','D3','D4'],['D1','D2','D3','D4'],]
-const arr_tipo=['Motor Elétrico','Motor Térmico']

.container-fluid
	.row
		.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
			.row
				h2.page-header=title + " - " + sub_title
	.row
		.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
			.row.placeholders
				.col-xs-6.col-md-2.placeholder
					.text-center
						+input('text','condutor', 'Condutor', 'Condutor:', 'txt_condutor', 'disabled')
						h3 Condutor
						img.img-responsive(src='../images/dashboard_blue.jpg', alt='Generic placeholder thumbnail')
						h4 Label
						span.text-muted Something else

				.col-xs-6.col-md-2.placeholder
					.text-center
						+input('text','carro', 'Carro', 'Carro', 'txt_carro', 'disabled')
						h3 Carro
						img.img-responsive(src='../images/dashboard_blue.jpg', alt='Generic placeholder thumbnail')
						h4 Label
						span.text-muted Something else
					.row.placeholders
						.col-12 
					.row.placeholders
						.col-12
					.row.placeholders
						.col-12 

				.col-sm-12.col-md-8
					+panel-default("Dados do abastecimento")
						.row
							.col-sm-12.col-md-4.placeholder
								+input("text", "tipo", "Motor elétrico", "Tipo:", "txt_tipo", "disabled")
							.col-sm-12.col-md-4.placeholder
								+input("text", "odometro", "Km", "Quilómetros:", "txt_odometro", "disabled")
							.col-sm-12.col-md-4.placeholder
								+input("text", "abastecimento_litros", "Abastecimento (L)", "Abastecimento (L):", "txt_abastecimento", "disabled")
						.row
							.col-sm-12.col-md-4.placeholder 
								+input("text", "autonomia_i", "Autonomia Inicial", "Autonomia inicial:", "txt_autonomia_inicial", "disabled")
							.col-sm-12.col-md-4.placeholder
								+input("text", "bateria_i", "Bateria Inicial (%)", "Bateria Inicial (%):", "txt_bateria_inicial", "disabled")
							.col-sm-12.col-md-4.placeholder 
								a.btn.btn-danger(type='button', href='#' )
									span.fa.fa-solid.fa-hourglass-start
										+input("text", "inicio_abastecimento", "Início do abastecimento", "Início do abastecimento:", "txt_inicio_abastecimento",~"disabled")
						.row
							.col-sm-12.col-md-4.placeholder
								+input("text", "autonomia_f", "Autonomia Final", "Autonomia Final:", "txt_autonomia_final", "disabled")
							.col-sm-12.col-md-4.placeholder
								+input("text", "bateria_f", "Bateria Final (%)", "Bateria Final (%):", "txt_bateria_final", "disabled")
							.col-sm-12.col-md-4.placeholder
								a.btn.btn-danger(type='button', href='#' )
									span.fa.fa-solid.fa-hourglass-end
										+input("text", "final_abastecimento", "Final do abastecimento", "Final do abastecimento:", "txt_final_abastecimento", "disabled")
						.row
							.col-sm-6.col-md-6.placeholder
								.text-center
									a.btn.btn-success(href='/Fillings', role='button') « Cancelar
							.col-sm-6.col-md-6.placeholder
								.text-center
									a.btn.btn-danger(href='/Fillings/U', role='button') Alterar »	