.container-fluid
	.row
		.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
			h2.page-header=title + " - " + sub_title
				.pull-right 
					a.btn.btn-success.btn-block(onclick = "history.back()", role='button') « Voltar
			.row
				.col-xs-12.col-sm-4.col-md-2.col-lg-2
					.row 
						.col.placeholder
							+snipet_viatura(turno)
					.row
						.col.placeholder
							+snipet_condutor(turno)
				.col-xs-12.col-sm-8.col-md-10.col-lg-10
					if viatura.ev
						+ficha_abastecimento_ev(abastecimento)
					else 
						+ficha_abastecimento_mt(abastecimento)
					a.btn.btn-warning.btn-block(href='/Abastecimento/U/'+abastecimento.id_viatura+ "/" +abastecimento.id_abastecimento, role='button') Atualizar ficha do abastecimento »	
					br
				.col-xs-12.col-sm-12.col-md-10.col-lg-10
					.row
						.col
							.container-fluid
								+ficha_turno(turno)
			.row
				.col
					.container-fluid
						if viatura.ev
							+lista_abastecimentos_ev_turno(turno)
						else 
							+lista_abastecimentos_mt_turno(turno)
			a.btn.btn-success.btn-block(onclick = "history.back()", role='button') « Voltar