.container-fluid
    .row
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
            h2.page-header=title+" - "+sub_title
                .pull-right
                    a.btn.btn-success.btn-block(onclick = "history.back()", role='button') « Voltar
            .row
                .col-xs-12.col-sm-12.col-md-4.col-lg-3.placeholder
                    +snipet_condutor(condutor)
                .col-xs-12.col-sm-12.col-md-8.col-lg-9
                    .row
                        +ficha_condutor(condutor)
                        .row
                            .col 
                                .container-fluid
                                    a.btn.btn-warning.btn-block(href='/Condutor/U/'+condutor.id_condutor, role='button') Atualizar ficha do condutor »
                                    p 
                                    a.btn.btn-warning.btn-block(href='/Condutor/'+condutor.id_condutor, role='button') Atualizar credenciais do condutor »
                                    p 

                        .row 
                            +resumo_faturacao(condutor, faturacao_total)
            .row
                .col
                    +turnos_condutor(condutor, turnos)
            .row
                .col
                    .container-fluid
                        a.btn.btn-success.btn-block(onclick = 'history.back()', role='button') « Voltar  