.container-fluid
    .row
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
            h2.page-header=title+" - "+sub_title
                .pull-right
                    a.btn.btn-success.btn-block(onclick = "history.back()", role='button') « Voltar
            .row
                .col-xs-12.col-sm-12.col-md-4.col-lg-3.placeholder
                    +snipet_condutor(condutor)
                .col-xs-12.col-sm-12.col-md-8.col-lg-9
                    .row
                        +panel-info("Ficha do condutor id: " + condutor.id_condutor)
                            .row 
                                .col-xs-12.col-sm-12.col-md-6.col-lg-8
                                    +yainput("text", "txt_nome", "nome", "Nome:", "nome", condutor.nome_condutor, "disabled")
                                .col-xs-6.col-sm-6.col-md-3.col-lg-2
                                    .text-center
                                        p
                                        br
                                        +yacheckbox-inline("chk_ativo", "Ativo", "ativo", condutor.ativo, false)
                                .col-xs-6.col-sm-6.col-md-3.col-lg-2 
                                    +yainput("text", "txt_nif", "NIF", "NIF:", "nif", condutor.nif_condutor, "disabled")
                            .row 
                                .col-xs-12.col-sm-12.col-md-4.col-lg-5
                                    +yainput("text", "txt_email", "email", "@mail:", "email", condutor.email_condutor, "disabled")
                                .col-xs-12.col-sm-12.col-md-4.col-lg-3
                                    +yainput("text", "txt_telefone_condutor", "telefone_condutor", "Telefone: ", "telefone_condutor", condutor.telefone_condutor, "disabled") 
                                .col-xs-12.col-sm-12.col-md-4.col-lg-2
                                    +yainput("text", "txt_entrada_servico", "entrada_servico", "Entrada em: ", "entrada_servico", condutor.data_entrada, "disabled") 
                                .col-xs-12.col-sm-12.col-md-4.col-lg-2
                                    +yainput("text", "txt_kms_feito", "kms_feito", "Kms feitos:", "kms_feito", condutor.kms_feitos, "disabled")
                        .row
                            .col 
                                .container-fluid
                                    a.btn.btn-warning.btn-block(href='/Condutor/U/'+condutor.id_condutor, role='button') Atualizar ficha do condutor »
                                    p 
                                    a.btn.btn-warning.btn-block(href='/Condutor/'+condutor.id_condutor, role='button') Atualizar credenciais do condutor »
                                    p 

                        .row 
                            +resumo_faturacao(condutor, faturacao_total)
            .row
                .col
                    +turnos_condutor(condutor, turnos)
            .row
                .col
                    .container-fluid
                        a.btn.btn-success.btn-block(onclick = 'history.back()', role='button') « Voltar  