.container-fluid
  .row
    .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.col-lg-10.col-lg-offset-2.main
      h2.page-header=title+" - "+sub_title
        .pull-right 
          a.btn.btn-success(href='/Condutor/C', role='button') Novo »  
      .row
        each condutor in dados
          +card_condutor(condutor)

