-const arr_cabecalho = ['Data','Carro','Condutor','Tipo']
-const arr_carros = ['Selecionar carro','xx 0x x0','xx 1x x1','xx 2x x2','xx 3x x3']
-const arr_frontespicio = [['D1','D2','D3','D4'],['D1','D2','D3','D4'],['D1','D2','D3','D4'],['D1','D2','D3','D4'],['D1','D2','D3','D4'],]
.container-fluid
	.row
		.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
			h1.page-header = title
			.row
				+yabcard("primary","Condutor 1", "Carro A", "/Shift")
				+yabcard("primary","Condutor 3", "Carro A", "/Shift")
				+yabcard("primary","Condutor 5", "Carro A", "/Shift")
				+yabcard("primary","Condutor 2", "Carro B", "/Shift")
				+yabcard("primary","Condutor 4", "Carro B", "/Shift")

			h2.sub-header = sub_title
			+yatable(arr_cabecalho, arr_frontespicio, "table-hover")
