nav.navbar.navbar-light.bg-secondary.navbar-expand-md.rounded.mb-3.py-0.shadow(id="frmNavbar")
	.container-fluid
		navbar-brand.text-success
			a.nav-link(href="/" title="dashboard")
				.fa.fa-home.fa-fw
				| &nbsp; dashboard
		button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse")
			span.navbar-toggler-icon
		.collapse.navbar-collapse.justify-content-end(id="navbarCollapse")
			ul.navbar-nav(id="frmMenu")
				li.nav-item.fs-6.text-warning
					.btn.btn-success.btn-sm.rounded(type="button" onclick="history.back()")
						.fa.fa-angle-left 
						| retroceder

if !mensagem
	div.alert.alert-info.mt-2(id="div_alert" style="display: none")
else 
	div.alert.alert-info.mt-2(id="div_alert" style="display: block")
		h3=Erro

.card.mb-2
	.card-header.bg-light
		.float-end
		.fs-6 Erro 

	.card-body
		pre
			#{mensagem}
	.card-footer
		.float-end 

