extends ../pugstrap/_bootstrap
append styles
	// Custom styles for this template
	link(href='/stylesheets/dashboard.css', rel='stylesheet')
block body
	block nav_sec
	include ../views/includes/navbar
		include ../views/includes/sidebar
	block data_sec 


