.row
    .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
        h2.page-header=title+" - "+sub_title
        .row.placeholders
            .col-sm-12.col-md-4.placeholder
                .text-center
                    h3 Nome
                    img.img-responsive(src='../images/dashboard_blue.jpg', alt='Generic placeholder thumbnail')
                    h4 Label
                    span.text-muted Something else
                .row.placeholders
                    .col-12 
                .row.placeholders
                    .col-12
                .row.placeholders
                    .col-12 
                        a.btn.btn-danger(href='/Driver/D', role='button') Apagar
            .col-sm-12.col-md-8.placeholder
                +panel-default("Identificação")
                    .row 
                        .col-sm-12.col-md-12
                            +input("text", "txt_nome", "Nome", "Nome:", "nome", "disabled")
                            +input("text", "txt_morada", "Morada", "Morada:", "morada", "disabled")
                    .row
                        .col-sm-12.col-md-6 
                            +input("text", "txt_cp", "Código Postal", "Código Postal:", "codigo_postal", "disabled")
                        .col-sm-12.col-md-6 
                            +input("text", "txt_nif", "NIF", "NIF:", "nif", "disabled")
                    .row 
                        .col-sm-12.col-md-6 
                            +input("text", "txt_utilizador", "Utilizador", "Utilizador:", "utilizador", "disabled")
                        .col-sm-12.col-md-6
                            +input("text", "txt_palavrapasse", "Palavra-passe", "Palavra-passe:", "palavra_passe", "disabled") 
                    .row 
                        .col-12 
                            p
                    .row
                        .col-sm-12.col-md-6.placeholder
                            .text-center
                                a.btn.btn-primary(href='/Driver/U', role='button') Alterar »
                        .col-sm-12.col-md-6.placeholder
                            .text-center
                                a.btn.btn-success(href='/Drivers', role='button') Cancelar  
