.container-fluid
  .row
    .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
      h2.page-header=title+" - "+sub_title
        .pull-right 
          a.btn.btn-success(href='/Driver/C', role='button') Novo »  
      .row.placeholders
        .col-xs-6.col-sm-3.placeholder
          a(href='/Driver')
            img.img-responsive(src='../images/dashboard_blue.jpg', alt='Generic placeholder thumbnail')
          h4 Label
          span.text-muted Something else
        .col-xs-6.col-sm-3.placeholder
          a(href='/Driver')
            img.img-responsive(src='../images/dashboard_green.jpg', alt='Generic placeholder thumbnail')
          h4 Label
          span.text-muted Something else
        .col-xs-6.col-sm-3.placeholder
          a(href='/Driver')
            img.img-responsive(src='../images/dashboard_blue.jpg', alt='Generic placeholder thumbnail')
          h4 Label
          span.text-muted Something else
        .col-xs-6.col-sm-3.placeholder
          a(href='/Driver')
            img.img-responsive(src='../images/dashboard_green.jpg', alt='Generic placeholder thumbnail')
          h4 Label
          span.text-muted Something else
        .col-xs-6.col-sm-3.placeholder
          a(href='/Driver')
            img.img-responsive(src='../images/dashboard_blue.jpg', alt='Generic placeholder thumbnail')
          h4 Label
          span.text-muted Something else
        .col-xs-6.col-sm-3.placeholder
          a(href='/Driver')
            img.img-responsive(src='../images/dashboard_green.jpg', alt='Generic placeholder thumbnail')
          h4 Label
          span.text-muted Something else
        .col-xs-6.col-sm-3.placeholder
          a(href='/Driver')
            img.img-responsive(src='../images/dashboard_blue.jpg', alt='Generic placeholder thumbnail')
          h4 Label
          span.text-muted Something else
        .col-xs-6.col-sm-3.placeholder
          a(href='/Driver')
            img.img-responsive(src='../images/dashboard_green.jpg', alt='Generic placeholder thumbnail')
          h4 Label
          span.text-muted Something else
