nav.navbar.fixed-top.navbar-dark.bg-dark
	.container-fluid
		a.navbar-brand(href='/') APPCT
		button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbar' aria-expanded='false' aria-controls='navbar')
			span.navbar-toggler-icon
		#navbar.collapse.navbar-collapse
			ul.navbar-nav.me-auto.mb-2.mb-lg-0
				li.nav-item
					a.nav-link.active(href='/') 
						.fa.fa-home.fa-fw 
						| &nbsp;Dashboard
				li.divider
				li.nav-item
					a.nav-link(href='#') 
						.fa.fa-chart-pie.fa-fw 
						|&nbsp; Relatórios
				li.nav-item
					a.nav-link(href='#') 
						.fa.fa-chart-bar.fa-fw 
						|&nbsp; Análise
				li.nav-item
					a.nav-link(href='#') 
						.fa.fa-file-export.fa-fw 
						|&nbsp;Exportar
				li.nav-item
					a.nav-link(href='#') 
						.fa.fa-file-import.fa-fw 
						|&nbsp;Importar
				li.nav-item
					a.nav-link(href='/Condutores')
						.fa.fa-id-card.fa-fw 
						|&nbsp; Condutores
				li.nav-item
					a.nav-link(href='/Viaturas') 
						.fa.fa-car.fa-fw 
						|&nbsp;Viaturas
				li.nav-item
					a.nav-link(href='/Turnos') 
						.fa.fa-people-arrows.fa-fw 
						|&nbsp;Turnos 
				li.nav-item
					a.nav-link(href='/Abastecimentos') 
						.fa.fa-gas-pump.fa-fw 
						|&nbsp; Abastecimentos
				li.nav-item
					a.nav-link(href='/Manutencoes') 
						.fa.fa-tools.fa-fw 
						|&nbsp; Manutenções
				li.nav-item
					a.nav-link(href='#') 
						.fa.fa-cogs.fa-fw 
						|&nbsp; Configurações
				li.nav-item
					a.nav-link(href='#') 
						.fa.fa-question.fa-fw 
						|&nbsp; Ajuda