.container-fluid
	.row
		.col-sm-3.col-md-2.col-lg-2.sidebar
			ul.nav.nav-sidebar
				li.nav-item
					a.nav-link(href='/') Início 
				li.nav-item
					a.nav-link(href='#') Relatórios
				li.nav-item
					a.nav-link(href='#') Análise
				li.nav-item
					a.nav-link(href='#') Exportar
			ul.nav.nav-sidebar
				li.nav-item
					APP
				li.nav-item
					a.nav-link(href='/Drivers') Condutores
				li.nav-item
					a.nav-link(href='/Cars') Carros
				li.nav-item
					a.nav-link(href='/Shifts') Turnos
				li.nav-item
					a.nav-link(href='/Fillings') Abastecimentos
			ul.nav.nav-sidebar
				li.nav-item
					a.nav-link(href='') Configurações
				li.nav-item
					a.nav-link(href='') Ajuda