h3.page-header=title+" - "+sub_title
	.pull-right
		a.btn.btn-success(href='/Shift/C', role='button') Novo »
.row
	+yacard("primary","Condutor 1", "Carro A", "/Shift")
	+yacard("primary","Condutor 2", "Carro B", "/Shift")
	+yacard("primary","Condutor 3", "Carro C", "/Shift")
	+yacard("primary","Condutor 4", "Carro D", "/Shift")
	+yacard("primary","Condutor 5", "Carro E", "/Shift")
	+yacard("primary","Condutor 6", "Carro F", "/Shift")
	+yacard("primary","Condutor 7", "Carro G", "/Shift")
