.container-fluid
    .row 
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
            h2.page-header=title+' - '+sub_title    
                .pull-right
                    +a-btn-back()
            .row
                .col-xs-12.col-sm-12.col-md-2.col-lg-2
                    .row 
                        .col.placeholder 
                            +snipet_condutor(turno)
                    .row
                        .col.placeholder
                            +snipet_viatura(turno)
                .col-xs-12.col-sm-12.col-md-10.col-lg-10
                    .row.placeholder-10
                        .col-xs-12.col-sm-12.col-md-12.col-lg-12
                            +ficha_turno(turno)
                            +a-btn-block(`/Turno/U/${turno.id_turno}`, "Atualizar ficha de turno", "edit", "warning")
                    .row.placeholder-10
                        .col-xs-12.col-sm-12.col-md-6.col-lg-6
                            p
                            +ficha_faturacao_turno(faturacao)
                            +a-btn-block(`#`, "Atualizar faturações do turno", "edit", "warning")
                            //- +a-btn-block(`/Faturacao/U/${turno.id_turno}`, "Atualizar faturações do turno", "edit", "warning")
                        .col-xs-12.col-sm-12.col-md-6.col-lg-6
                            p
                            +ficha_gratificacao_turno(faturacao)
                            +a-btn-block(`#`, "Atualizar gratificações do turno", "edit", "warning")
                            //- +a-btn-block(`/Gratificacao/U/${turno.id_turno}`, "Atualizar gratificações do turno", "edit", "warning")
            .row
                .col
                    p
                    if turno.ev
                        +lista_abastecimentos_ev_turno(turno)
                    else 
                        +lista_abastecimentos_mt_turno(turno)
            .row
                .col 
                    +a-btn-block-back()

