.container-fluid
    .row 
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
            h2.page-header=title+' - '+sub_title    
                .pull-right
                    a.btn.btn-success.btn-block(onclick = "history.back()", role='button') « Voltar
            .row
                .col-xs-12.col-sm-12.col-md-2.col-lg-2
                    .row 
                        .col.placeholder 
                            +snipet_condutor(turno)
                    .row
                        .col.placeholder
                            +snipet_viatura(turno)
                .col-xs-12.col-sm-12.col-md-10.col-lg-10
                    .row.placeholder-10
                        .col-xs-12.col-sm-12.col-md-12.col-lg-12
                            +ficha_turno(turno)
                            a.btn.btn-warning.btn-block(href='/Turno/U/'+turno.id_turno, role='button') Atualizar ficha de turno »
                    .row.placeholder-10
                        .col-xs-12.col-sm-12.col-md-6.col-lg-6
                            p
                            +ficha_faturacao_turno(faturacao)
                            a.btn.btn-warning.btn-block(href='/Faturacao/U/'+turno.id_turno, role='button') Atualizar ficha de faturação do turno »    
                        .col-xs-12.col-sm-12.col-md-6.col-lg-6
                            p
                            +ficha_gratificacao_turno(faturacao)
                            a.btn.btn-warning.btn-block(href='/Faturacao/U/'+turno.id_turno, role='button') Atualizar ficha de gratificações do turno »
            .row
                .col
                    p
                    if turno.ev
                        +lista_abastecimentos_ev_turno(turno)
                    else 
                        +lista_abastecimentos_mt_turno(turno)
            .row
                .col 
                    a.btn.btn-success.btn-block(onclick = "history.back()", role='button') « Voltar

