.container-fluid
    .row
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
            h2.page-header=title+" - "+sub_title
                .pull-right
                    +a-btn-back()
            div(id="div_alert")
            .row 
                .col-xs-12.col-sm-12.col-md-12.col-lg-12.placeholder
                    .panel.panel-info 
                        .panel-heading 
                            h3.panel-title Dados da viatura
                                .pull-right ID:
                        .panel-body
                            form(id="frm_viatura" name="frmViatura" role="form" action="/viaturas" method="post" enctype="multipart/form-data")
                                .row 
                                    .col-xs-12.col-sm-12.col-md-4.col-lg-3.placeholder

                                        .text-center 
                                            h3 Foto da viatura
                                            img.img-responsive.fa.fa-8x.fa-solid.fa-car(id="img_foto" name="imgFoto" src="" alt=f1b9 placeholder="&#xf1b9" )
                                            p &nbsp;
                                        .input-group
                                            .input-group-addon
                                                .fa.fa-file.fa-sm &nbsp;&nbsp;
                                            label.btn.btn-info.btn-block.btn-sm(id="lbl_file_name" name="lblFileName" for="inp_file_img") selecionar ficheiro

                                        input.visuallyhidden(type="text" id= "txt_file_name_H" name="fileNameH" value="" )
                                        input.visuallyhidden(type="file" id="inp_file_img" name="inpFileImg" accept="image/*") 
                                    .col-xs-12.col-sm-12.col-md-8.col-lg-9
                                        .row 
                                            .col-xs-12.col-sm-6.col-md-6.col-lg-6
                                                label.container_chk(for="chk_ativa")
                                                    input(type="checkbox" id="chk_ativa" name="chkAtiva" checked disabled )
                                                    .checkmark
                                                    | ativa
                                            .col-xs-12.col-sm-6.col-md-6.col-lg-6
                                        .row 
                                            .col-xs-12.col-sm-6.col-md-6.col-lg-6
                                                label.container_chk(for="chk_ev")
                                                    input(type="checkbox" id="chk_ev" name="chkEv")
                                                    .checkmark
                                                    | ev
                                            .col-xs-12.col-sm-6.col-md-6.col-lg-6
                                                .form-group 
                                                    label(for="txt_qbateria") bateria (Kwh)
                                                    .input-group 
                                                        .input-group-addon 
                                                            +awsme("battery")
                                                        input.form-control(type="text" id="txt_qbateria" name="qbateria" value="" disabled)
                                        .row 
                                            .col-xs-12.col-sm-6.col-md-6.col-lg-6
                                                .form-group
                                                    label(for="txt_matricula") matrícula
                                                    .input-group 
                                                        .input-group-addon 
                                                            +awsme("car")
                                                        input.form-control(type="text" id="txt_matricula" name="matricula" value="" )
                                            .col-xs-12.col-sm-6.col-md-6.col-lg-6
                                                .form-group 
                                                    label(for="txt_odometro") odómetro
                                                    .input-group
                                                        .input-group-addon 
                                                            +awsme("tachometer")
                                                        input.form-control(type="text" id="txt_odometro" name="odometro" value="" )
                                        .row 
                                            .col-xs-12.col-sm-12.col-md-12.col-lg-12 
                                                .form-group
                                                    label(for="txt_descricao") descrição
                                                    .input-group 
                                                        .input-group-addon 
                                                            +awsme("clipboard")
                                                        input.form-control(type="text" id="txt_descricao" name="descricao" value= "" )
                                        .row 
                                            .col-xs-6.col-sm-6.col-md-6.col-lg-6 
                                                .form-group 
                                                    label(for="txt_ultima_manutencao") última manutenção
                                                    .input-group 
                                                        .input-group-addon 
                                                            +awsme("tools")
                                                        input.form-control(type="text" id="txt_ultima_manutencao" placeholder="última manutenção" name="ultimaManutencao" value= "" disabled )
                                            .col-xs-6.col-sm-6.col-md-6.col-lg-6 
                                                .form-group
                                                    label(for="txt_proxima_manutencao") próxima manutenção
                                                    .input-group 
                                                        .input-group-addon 
                                                            +awsme("tools")
                                                        input.form-control(type="text" id="txt_proxima_manutencao" name="proximaManutencao" placeholder="próxima manutenção" value= "" disabled)
                                .row
                                    .col-xs-12.col-sm-12.col-md-4.col-lg-3.placeholder

                                    .col-xs-12.col-sm-12.col-md-8.col-lg-9
                                        br
                                        button.btn.btn-danger.btn-block(id="bt_submit" type="submit" title="guardar dados da viatura")
                                            +awsme("save")
                                            | &nbsp; registar nova viatura
        
