//- a(href='/Shift')
+panel-primary("Par de turno: Data")
	.row
		.col-sm-6.col-md-2.col-lg-1.main
			img.img-responsive(src='../images/dashboard_blue.jpg', alt='Generic placeholder thumbnail')
			.text-center
				h4 Condutor
				span.text-muted Início
		.col-sm-6.col-md-2.col-lg-1.main
			img.img-responsive(src='../images/dashboard_green.jpg', alt='Generic placeholder thumbnail')
			.text-center
				h4 Carro
				span.text-muted Fim