extends ../pugstrap/_bootstrap
append styles
    // Custom styles for this template
    link(href='/stylesheets/dashboard.css', rel='stylesheet')
    title=title
block body
block topo
    include ./includes/_navbar
block lado
    include ./includes/_sidebar
block content
    if rota==="/Filling/C"
        include ./includes/_abastecimento_c
    else if rota==="/Filling"
        include ./includes/_abastecimento_r
    else if rota==="/Filling/U"
        include ./includes/_abastecimento_u
    else if rota==="/Filling/D"
        include ./includes/_abastecimento_r