extends ../pugstrap/_bootstrap
append styles
    //-Custom styles for this template
    link(href='/stylesheets/dashboard.css', rel='stylesheet')
    title=title 
block body
block topo
    include ../views/includes/_navbar
block lado
    include ../views/includes/_sidebar
block content
    if rota==="/Car"
        include ../views/includes/_carro_r
    else if rota==="/Car/C"
        include ../views/includes/_carro_c
    else if rota==="/Car/U"
        include ../views/includes/_carro_u
