extends ./app_template
append styles

block content
	if rota==="/Viatura/id"
		include ../views/includes/_viatura_r
	if rota==="/Viatura/C"
		include ../views/includes/_viatura_c

block custom_scripts
	if rota == "/Viatura/C"
		script(src="/javascripts/scripts_vc.js" type="text/javascript").
			$("#frm_viatura").validate();
	else if rota == "/Viatura/id"
		script(src="/javascripts/scripts_v.js" type="text/javascript").
			$("#frm_viatura").validate();

