extends ./app_template
append styles

block content
	if rota==="/Condutor/id"
		include ../views/includes/_condutor_r
	else if rota==="/Condutor/C"
		include ../views/includes/_condutor_c

block custom_scripts
	if rota == "/Condutor/C"
		script(src="/javascripts/scripts_cc.js" type="text/javascript").
			$("#frm_condutor").validate();
	else if rota == "/Condutor/id"
		script(src="/javascripts/scripts_c.js" type="text/javascript").
			$("#frm_condutor").validate();