extends ../pugstrap/_bootstrap
append styles
  // Custom styles for this template
  link(href='/stylesheets/style.css', rel='stylesheet')
  link(href='/stylesheets/dashboard.css', rel='stylesheet')

block body
  title=title
block topo
  include ../views/includes/_navbar
block lado
  include ../views/includes/_sidebar
block content
  .container-fluid
    .row
      .col-sm-9.col-sm-offset-3.col-md-12.col-md-offset-2
        form.form-signin
          h3.form-signin-heading Autentique-se por favor
          label.sr-only(for='inputEmail') Endereço de email
          input#inputEmail.form-control(type='email', placeholder='Email address', required='', autofocus='')
          label.sr-only(for='inputPassword') Palavra-passe
          input#inputPassword.form-control(type='password', placeholder='Password', required='')
          .checkbox
            label
              input(type='checkbox', value='remember-me')
              | Lembrar-se de mim
            button.btn.btn-lg.btn-primary.btn-block(type='submit') Autenticar-se
  .row.banner
    .col-sm-9.col-sm-offset-3.col-lg-10.col.lg-offset-2
      h1
        pageHeader.title=title
  .row
    .col-12.col-md-8
      form(action="/users/login" method="post" role="form")
        #error
          if error
            p.text-danger Error!!!
        .form-group.row
          label.col-10.col-sm-2.col.form-label(for="username") Nome
      .col-12.col-sm-10
        input#name.form-control(type="email" name="username" placeholder="Nome do utilizador" required autofocus)
        p &nbsp;
        .form-group.row
          label.col-10.col-sm-2.col-form-label(for="inputPassword") Password
      .col-12.col-sm-10
        input#name.form-control(type="password" name="inputPassword" placeholder="PIN ou palavra-passe" required)
        p &nbsp;
      .col-12.col-sm-2
        .float-left
          button.btn.btn-primary Continuar
    .col-12.col-md-4