extends ../pugstrap/_bootstrap
append styles
    //-Custom styles for this template
    title=title 
block body
block topo
    include ../views/includes/_navbar
block lado
    include ../views/includes/_sidebar
block content
    if rota==="/Driver"
        include ../views/includes/_motorista_r
    else if rota==="/Driver/C"
        include ../views/includes/_motorista_c
    else if rota==="/Driver/U"
        include ../views/includes/_motorista_u
