extends ../pugstrap/_bootstrap
append styles
    // Custom styles for this template
    title=title
block body
block topo
    include ./includes/_navbar
block lado
    include ./includes/_sidebar
block content
    if rota==="/Shifts"
        include ./includes/_turnos
    else if rota==="/Shift"
        include ./includes/_turno_r
        include ./includes/_abastecimentos_de_turno
    else if rota==="/Shift/C"
        include ./includes/_turno_c
    else if rota==="/Shift/U"
        include ./includes/_turno_u
        include ./includes/_abastecimentos_de_turno
    else if rota==="/Shift/D"
        include ./includes/_turno_r
