extends ../pugstrap/_bootstrap
append styles
    title=title
block body
block topo
    include ../views/includes/_navbar
block lado
    include ../views/includes/_sidebar
block content
    //- include ../views/includes/_motoristas_de_turno
    .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
        .container-fluid
            include ../views/includes/_turnos